html {
  font-family: "Tahoma", "MS Sans Serif", sans-serif; /* Windows XP typische Schriftart */
  background-color: #004E98;
  width: 1920px;
}

#window {
  border: 2px solid blue;
  width: 450px;
  box-shadow: 0 0 10px #9E9E9E;
  padding: 0;
  margin: 0 auto;
  display: block;
}

#topBar {
  background: linear-gradient(#2B90FF, #0055EA, #026AFE);
  color:white;
  font-weight:bold;
  margin-top:-16px;
  padding-top:.001px;
  padding-bottom:.008px;
  letter-spacing: .5px;
  font-size:1em;
}

#logoArea {
  background: linear-gradient(to right, #6286E1, #6286E1, #9FBBF6, #7899E9);
  margin-top: -16px;
}

#section {
  text-align: center;
  color: white;
}

#windowSpan {
  font-size: 2em;
  font-weight: bold;
  color: #EFF3FD;
}

#microsoftTop {
  margin-top: -8px;
  font-size: 0.7em;
  margin-left: -60px;
}

#proBottom {
  margin-top: -22px;
}

sup {
  color: #F75A14;
  font-size: 0.7em;
}

nav p {
  margin-top: -15px;
  font-size: 0.7em;
  padding-bottom: 5px;
  color: white;
}

#rightSpan {
  float: right;
  padding-right: 8px;
  color: white;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.5px;
  font-size: 1.1em;
}

#orangeBar {
  background: linear-gradient(to right, #6D8CE1, #6B81CA, #B48E7E, #E89148, #E89148, #B48E7E, #6B87D5);
  height: 9px;
  margin-top: -11px;
}

form {
  background-color: #ECE9D8;
  margin-top: -16px;
  font-size: 0.75em;
  letter-spacing: 0.5px;
  clear: left;
}

form p:first-child {
  padding-top: 15px;
}

form p {
  display: block;
}

form input {
  width: 280px;
  clear: left;
  font-family: "Tahoma", "MS Sans Serif", sans-serif; /* Windows XP Font */
}

button {
  margin-bottom: 8px;
  margin-left: 10px;
  border-radius: 5%;
  width: 95px;
  font-family: "Tahoma", "MS Sans Serif", sans-serif; /* Windows XP Font */
}

#firstButton {
  margin-left: 120px;
}

button:hover {
  border: 2px solid #95AFED;
}

button:active {
  border: 2px solid #F49130;
}

.specialAlign {
  padding-left: 10px;
}

canvas {
  width: 65px;
  height: 110px;
  transform: rotate(-5deg);
}